.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://plus.unsplash.com/premium_photo-1690561082029-0eb2ed65a09f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D') no-repeat center center;
    background-size: cover;
    padding: 20px;
  }
  
  .signup-container form {
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 420px;
  }
  
  .signup-container h2 {
    font-size: 70px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  .signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #333;
  }
  
  .signup-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #ff790a;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-container .signup-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-container .signup-footer a {
    color: #ff790a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
  .signup-container .signup-footer a:hover {
    text-decoration: underline;
  }
  